@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --primary-bg: #1e1e2d;
  --primary-text: #e0e6ed;
  --secondary-bg: #313148;
  --accent-color: #f39c12;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: var(--font-raleway);
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: var(--accent-color);
  margin-top: 30px;
}

h2 {
  font-size: 1.5rem;
  color: var(--primary-text);
}

.search {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.search input {
  width: 30vw;
  padding: 10px;
  border-radius: 12px;
  margin-right: 10px;
  font-size: large;
  font-weight: 550;
}

.search img {
  width: 40px;
  cursor: pointer;
}

.loading {
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie {
  background-color: var(--secondary-bg);
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s, box-shadow 0.4s;
}

.movie:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.movie img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.movie h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.movie p {
  color: #b8b8d4;
  font-size: 0.9rem;
  line-height: 1.5;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px;
  border-radius: 8px;
  position: fixed;
  bottom: 23px;
  right: 28px;
  cursor: pointer;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 90%;
  resize: none;
}

.form-container .btn {
  width: 100%;
  padding: 16px;
}

.form-container .cancel {
  background-color: red;
}
